
 {% load static %}


<link href="{% static 'acceuil/acceuil.css' %}" rel="stylesheet">


<footer class="navbar navbar-fixed-bottom bg-info" class="webintern-footer">

<div class="text-white tt-copy-left">Copyright © LaPoste-DSI 2019. Tous droits réservés. </div>




      <div class="tt-copy-right">
        <div class="text-white">
          <div class=" mt-4 font-weight-bold">crée par MADICKE DIOP Etudiant en Master 1 TDSI</div>
  
          <i class="fas fa-phone mt-3"></i> <a href="tel:+">77 045 42 24</a><br>
          <i class="fa fa-envelope mt-3"></i> <a href="mailto:your-email@your-domain.com">diopmadicke351@gmail.com</a><br>
        
          </div>

        </div>

    








</footer>

