{% load static %}




<!-- Bootstrap CSS -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">


<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.0/css/all.css" integrity="sha384-lKuwvrZot6UHsBSfcMvOkWwlCMgc0TaWr+30HWe3a4ltaBwTZhyTEggF5tJv8tbt" crossorigin="anonymous">





    <!-- Font Icon -->
    <link rel="stylesheet" href="{% static 'login/fonts/material-icon/css/material-design-iconic-font.min.css' %}">

    <!-- Main css -->
    <link rel="stylesheet" href="{% static 'login/css/style.css' %}" >




{% block content %}   




<style>
        body { margin-top: 130px; }
       </style>





{% if user.is_authenticated %}
  
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-info mb-4">
                
    <div class="container">
                <a class="navbar-brand" href="{% url 'acceuil' %}">
                    <img src="{% static 'image/poste.jpg' %}" width="52" height="36" class="d-inline-block align-top" alt="">DSI
                </a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
                 <span class="navbar-toggle-icon"> </span>

             </button>   

             <div class="collapse navbar-collapse " id="navbarCollapseLink">

                <ul class="navbar-nav">
                    <li class="nav-item" >
                        <a href="{% url 'acceuil' %}" class="nav-link"> Acceuil </a>
                    </li>



                    <li class="nav-item" >
                     <a href="{% url 'reseau' %}" class="nav-link"> Reseau </a>
                 </li>





                 <li class="nav-item" >
                     <a href="{% url 'maintenance' %}" class="nav-link"> Maintenance </a>
                 </li>

                  
                 
                 <li class="nav-item" >
                     <a href="{% url 'pooldev' %}" class="nav-link"> PoolDev </a>
                 </li>

                  




                </ul>

                
           

    </div>

    <form class="form-inline my-2 my-lg-0">
            <a href="{% url 'users:deconnect' %}" class="btn btn-primary ml-3"> Deconnexion </a>
    </form> 
    
    
 </div>


</nav>

            {% else  %}




      
<nav class="navbar fixed-top navbar-expand-md navbar-light bg-info mb-4">
                
        <div class="container">
                    <a class="navbar-brand" href="{% url 'acceuil' %}">
                        <img src="{% static 'image/poste.jpg' %}" width="52" height="36" class="d-inline-block align-top" alt="">DSI
                    </a>
    
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapseLinks" aria-expanded="false" aria-label="Toggle Navigation">
                     <span class="navbar-toggle-icon"> </span>
    
                 </button>   
    
                 <div class="collapse navbar-collapse " id="navbarCollapseLink">
    
                    <ul class="navbar-nav">
                        <li class="nav-item" >
                            <a href="{% url 'acceuil' %}" class="nav-link"> Acceuil </a>
                        </li>
    
    
    
                        <li class="nav-item" >
                         <a href="{% url 'reseau' %}" class="nav-link"> Reseau </a>
                     </li>
    
    
    
    
    
                     <li class="nav-item" >
                         <a href="{% url 'maintenance' %}" class="nav-link"> Maintenance </a>
                     </li>
    
                      
                     
                     <li class="nav-item" >
                         <a href="{% url 'pooldev' %}" class="nav-link"> PoolDev </a>
                     </li>
    
                      
    
    
    
    
                    </ul>
    
                    
               
    
        </div>
    
      
        <form class="form-inline my-2 my-lg-0">



                <a href="{% url 'users:login' %}" class="btn btn-outline-secondary">  Se connecter </a>
                <a href="{% url 'users:signup' %}" class="btn btn-primary ml-3"> S'inscrire </a>
                 {% endif %}
             </form>
         
        
     </div>
    
    
    </nav>













{% endblock content%}






          


           <!-- JS -->
           <script src="{% static 'login/vendor/jquery/jquery.min.js' %}"></script>
           <script src="{% static 'login/js/main.js' %}" ></script>
   

          





    
        <!-- Optional JavaScript -->
        <!-- jQuery first, then Popper.js, then Bootstrap JS -->
        <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>